/* Custom Button Sets  */
html, body{
    overflow-x: hidden;
}
.web-btn,
.web-bg{
    padding: 10px 25px !important;
    color: #fff;
    font-weight: 500;
    background: #20ad96;
}
.web-btn:hover{
    color: #fff;
    background: #385777;
    border-color: #385777;
}
.web-btn-2{
    color: #20ad96;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 26px;
    cursor: pointer;
    border: 0;
}
.web-btn-2:hover{
    background: #385777;
    color: #fff;
    border: 0;
}
.web-text-2{
    color: #20ad96;
}
.web-text{
    color: #3f3a64;
}
.carousel-item {
    height: 85vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}