/* Custom Button Sets  */
.web-btn{
    color: #fff;
    background: #20ad96;
}
.web-btn:hover{
    color: #fff;
    background: #385777;
    border-color: #385777;
}
.web-text-2{
    color: #20ad96;
}
.web-text{
    color: #3f3a64;
}
.carousel-item {
    height: 85vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}